<div>
    <h5>ingrese nombre:</h5>
    <input type="text" id="nombreRegistrar" name="nombreRegistrar"> <br><br> 
    
    <h5>ingrese contraseña:</h5>
    <input type="password" id="contraseñaRegistrar" name="contraseñaRegistrar"> <br><br> 
    
    <h5>ingrese mail:</h5>
    <input type="email" id="mailRegistrar" name="mailRegistrar"> <br><br> 
    
    <h5>ingrese rol:</h5>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Administrador
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Comprador
        </label>
      </div>
    
    <button>Registrar</button>
    </div>