ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #d8dadb;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar {
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
    background-color: #d8dadb;
    width: 60%; /* Ajusta según sea necesario */
}

.navbar-top {
  justify-content: flex-end; /* Mueve los elementos a la derecha */
}

.navbar-nav-top {
  display: flex;
  align-items: center;
  margin-left: auto; /* Mueve los elementos a la derecha */
}

.navbar-nav-top li {
  margin-left: 15px;
}

.navbar-nav-top a {
  text-decoration: none;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: rgb(0, 58, 41);
  transition: color 0.3s ease;
}

.navbar-nav-top a:hover {
  color: #2c3e50;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item-right {
    margin-right: 0; /* Empuja los elementos al extremo derecho de la barra */
    text-align: right;
}

.navbar-nav a {
    margin-right: 15px; /* Espaciado entre elementos de la barra */
    text-decoration: none; 
    font-size: 20px; /* Tamaño de la fuente, ajusta según tu preferencia */
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
  color: #2c3e50; /* Cambia el color al pasar el mouse */
}

.custom-navbar {
  width: 100%; /* Puedes ajustar este valor según tus necesidades */
  margin: 0 auto; /* Esto centrará la barra de navegación */
}

.custom-navbar .navbar-nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; /* Asegura que los elementos ocupen el ancho completo de la barra de navegación */
}

.custom-navbar .navbar-nav a {
  font-size: 18px;
  color: rgb(0, 58, 41); /* Cambia esto al color que prefieras */
}


.carritos{
  width:30px;
  height: 30px;
  color: white;
}

