<!--<ul>
    <li><a href="#home">Comprar</a></li>
    <li><a href="#news">Productos</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Promociones</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
  </ul>

-->
<nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{ 'active': activeRoute === '/landing' }">
        <a class="nav-link" [routerLink]="['/landing']"> <h4>Inicio</h4> </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': activeRoute === '/Producto' }">
      <a class="nav-link" [routerLink]="['/producto']"> <h4>Productos</h4></a>
      </li>
      <li class="dropdown" [ngClass]="{ 'active': activeRoute === '/Producto' }">
        <a href="#" class="dropbtn" [routerLink]="['/producto']">Productos</a>
        <div class="dropdown-content">
            <a href="#" [routerLink]="['/app-lista-productos']">Lista de productos </a>
            <a href="#">Registrar productos</a>
            <a href="#">Productos 3</a>
        </div>
    </li>
      <li class="nav-item" *ngIf="userRole==='Administrator'" [ngClass]="{ 'active': activeRoute === '/admin' }">
        <a class="nav-link" [routerLink]="['/admin']"><h4>Administrador</h4></a>
      </li>
    </ul>
  </nav>