<nav class="navbar">
  <ul class="navbar-nav">

    <li class="nav-item-right" [ngClass]="{ 'active': activeRoute === '/landing' }">
      <a routerLink="/Registrar" routerLinkActive="active" ariaCurrentWhenActive="page"><h4>Registrarse</h4></a>
    </li>

    <li class="nav-item-right" [ngClass]="{ 'active': activeRoute === '/landing' }">
      <a routerLink="/inicioSesion" routerLinkActive="active" ariaCurrentWhenActive="page"><h4>Inicio de sesión</h4></a>
    </li>

    <li class="dropdown" [ngClass]="{ 'active': activeRoute === '/Usuario' }">
      <a href="javascript:void(0)" class="nav-link dropbtn"><h4>Usuario</h4></a>
      <div class="dropdown-content">
        <a class="nav-link" [routerLink]="['/lista-usuarios']">Listar usuarios</a>
        <a class="nav-link" [routerLink]="['/eliminar-usuario']">Eliminar usuario</a>
        <a class="nav-link" [routerLink]="['/actualizar-usuario']">Actualizar usuario</a>
      </div>
    </li>

    <li class="dropdown" [ngClass]="{ 'active': activeRoute === '/Producto' }">
      <a href="javascript:void(0)" class="nav-link dropbtn"><h4>Productos</h4></a>
      <div class="dropdown-content">
        <a class="nav-link" [routerLink]="['/app-lista-productos']">Lista de productos</a>
        <a class="nav-link" [routerLink]="['/registrar-productos']">Registrar productos</a>
        <a class="nav-link" [routerLink]="['/productos-3']">Productos 3</a>
      </div>
    </li>

  </ul>
</nav>
