<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="landing-page.component.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <header class="jumbotron text-center">
            <h1 class="H1Header mb-0">Urban</h1>
            <app-barra></app-barra>
        </header>
      </div>

      <footer class="footer">
        <div class="container">
          <table class="footer-table">
            <tr>
              <td class="footer-left">
                <p class="H2Header mb-0">Urban</p>
              </td>
              <td class="footer-left-2">
                <p>Contacto: +598091234567</p>
                <p>Cordon: lunes a sabados, 9:30 - 19:00</p>
                <p>Ciudad de la Costa: lunes a sabados, 9:00 - 18:00</p>
              </td>
              <td class="footer-right">
                <div class="footer-links">
                  <ul>
                    <li><a href="#">Volver al inicio</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </footer>
      
      <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
