<div class="container-fluid">
  <h1 class="H1Header mb-0">Urban</h1>
  <app-barra></app-barra>
</div>

<div>
    <footer class="footer">
        <div class="container">
          <table class="footer-table">
            <tr>
              <td class="footer-left">
                <p class="H2Header mb-0">Urban</p>
              </td>
              <td class="footer-left-2">
                <p>Contacto: +598 91 234 567</p>
                <p>Cordon: lunes a sabados, 9:30 - 19:00</p>
                <p>Ciudad de la Costa: lunes a sabados, 9:00 - 18:00</p>
              </td>
              <td class="footer-right">
                <div class="footer-links">
                  <ul>
                    <li><a href="#">Volver al inicio</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </footer>
</div>
