.registros{
    text-align:right;
    margin: 15px;
    float: right;
    
}

a{
    margin:15px;
}

.ort{
    font: 1em georgia;
}

.H1Header{
    color: azure;
}
header{
    background-color: rgb(35, 34, 34);
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  /* Contenedor del footer */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilo para el contenido del footer */
  .footer-content {
    display: flex;
    align-items: center;
  }
  
  /* Estilo para el logo en el footer */
  .footer-logo img {
    width: 100px; /* Ajusta el ancho según tu logo */
  }
  
  /* Estilo para los enlaces del footer */
  .footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Estilo para los iconos de redes sociales */
  .footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .footer-social li {
    margin-right: 10px;
  }
  
  .footer-social a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  /* Estilo para los iconos de redes sociales (Font Awesome) */
  .footer-social i {
    font-size: 20px;
  }
  
  /* Estilo para los enlaces cuando se pasan por encima (hover) */
  .footer-links a:hover, .footer-social a:hover {
    text-decoration: underline;
  }

  .imgFooter{
    width: 5%;
    height: 5%;
  }
  
  .container-fluid{
    
    background-color: rgb(35, 34, 34);
    box-sizing: border-box;
  }

  .navBar{
    float:left;
    color: #fff;
    background-color: rgb(35, 34, 34);
    box-sizing: border-box;
  }

  #navbarSupportedContent{
    background-color: rgb(35, 34, 34);
    color: #fff;
    box-sizing: border-box;
  }

  nav{
    background-color: rgb(35, 34, 34);
    color: #fff;
    box-sizing: border-box;
  }

  .contenedorGrande{
    background-color: rgb(35, 34, 34);
    color: #fff;
    box-sizing: border-box;
  }
  
  .dropdown-toggle{
    color: #fff;
  }

  .navbar-expand-lg{
    color: #fff;
  }

  .registros a{
    color: #fff;
  }