
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Dirección</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.address }}</td>
      <td class="table-actions">
        <button class="btn btn-danger btn-eliminar" (click)="deleteUser(user.userID)">Eliminar</button>
        <button *ngIf="!userBeingEdited" class="btn btn-primary btn-editar" (click)="editUser(user)">Editar</button>
        <button *ngIf="userBeingEdited === user" class="btn btn-success btn-guardar" (click)="saveUserChanges(user)">Guardar Cambios</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Formulario de edición -->
<div *ngIf="userBeingEdited">
  <form class="mt-3" (ngSubmit)="saveUserChanges(userBeingEdited)">
    <input class="form-control" [(ngModel)]="userBeingEdited.userName" name="userName" placeholder="Nombre">
    <input class="form-control" [(ngModel)]="userBeingEdited.email" name="email" placeholder="Email">
    <input class="form-control" [(ngModel)]="userBeingEdited.role" name="role" placeholder="Rol">
    <input class="form-control" [(ngModel)]="userBeingEdited.address" name="address" placeholder="Dirección">
    <button type="submit" class="btn btn-success btn-guardar">Guardar Cambios</button>
  </form>
</div>
