<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Carrito de compras</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Marca</th>
            <th>Categoría</th>
            <th>Color</th>
            <th>Stock</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.color }}</td>
            <td>{{ product.stock }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeFromCart(product)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div>
        <h2>Métodos de pago</h2>
        <h4>Tarjetas de Crédito</h4>
        <input type="radio" name="metodoPago" id="visa">
        <label for="visa">Visa</label>
        <br>
        <input type="radio" name="metodoPago" id="mastercard">
        <label for="mastercard">MasterCard</label>
      </div>

      <div>
        <h4>Débitos Bancarios</h4>
        <input type="radio" name="metodoPago" id="santander">
        <label for="santander">Banco Santander</label>
        <br>
        <input type="radio" name="metodoPago" id="itau">
        <label for="itau">Banco ITAU</label>
        <br>
        <input type="radio" name="metodoPago" id="bbva">
        <label for="bbva">Banco BBVA</label>
      </div>

      <div>
        <h4>Otros Métodos</h4>
        <input type="radio" name="metodoPago" id="paypal">
        <label for="paypal">Paypal</label>
        <br>
        <input type="radio" name="metodoPago" id="paganza">
        <label for="paganza">Paganza</label>
      </div>

      <br>

      <div>
        <p>Nombre de la promoción: {{ promotionData }}</p>
      </div>

      <div class="total">Total: ${{ getTotalPrice() }}</div>

      <button class="btn btn-success" (click)="registerPurchase()">Comprar</button>
    </div>
  </div>
</div>
